<!DOCTYPE html>
<html>
  <head>
    <% include templates/head.ejs %>
  </head>
  <body>
    <nav class="navbar navbar-default" id="menubar">
      <% include templates/menutitle.ejs %>
      <ul class="nav navbar-nav navbar-right">
        <div class="navbar-header">
          <a class="navbar-brand" href="/aboutit">About It</a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="/aboutorganization">About Organization</a>
        </div>
        <div class="navbar-header">
          <a class="navbar-brand" href="/<%= data.hrefone %>"><%= data.titleone %></a>
        </div>
     </ul>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <h1>Password Recovery</h1>
          <form method="post" action="pwdrecovery">
            <div class="form-group">
              <input type="text" class="form-control" name="username" maxlength="100" placeholder="Type your user email..." required>
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-danger" id="btnSubmit" value="Submit" />
            </div>
            <div class="form-group">
              <p id="msg"><%= message %></p>
            </div>
          </form>
          <div class="form-group">
            <a href="/login">Back to LogIn</a>
          </div>
          <% include templates/footer.ejs %>
        </div>
        <div class="col-sm-4"></div>
      </div>   
   </div>    
  </body>
</html>
